<!DOCTYPE html>
<html>

	<head>
		<title>
			Dashboard page
		</title>
		<meta charset='utf-8' />

		<link href='css/normalize.css' rel='stylesheet' />
		
		<link href='css/dashboard.css' rel='stylesheet' />

        
		
	</head>

    <body>
     <div class="page page--dashboard"> 
        <aside class="page__aside aside">git pull
         <div class="aside__logo">
          Sidebar
         </div>
        </aside>
        <header class="header">test</header>   
        <main class="main">test</main>    
     </div>
    </body>
    </html>